/* body{
    background-color: #820cb5;
} */
.navbar1{
    height: 50px;
    width: 100%;
    /* background-color: rgb(92, 96, 100); */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.first{
    font-size: 30px;
    color: black;
    text-decoration: none;
}
.second{
    color: black;
    text-decoration: none;
    font-size: 21px;
}
.third{
    color: black;
    padding-right: 600px;
    text-decoration: none;
    font-size: 21px;
}
.first:hover{
    color: #518c7b;
}
.second:hover{
    color: #518c7b;
}
.third:hover{
    color: #518c7b;
}
.search-bar{
    height: 43px;
    width: 250px;
    display: flex;
    color: black;
    /* background-color: rgb(189, 189, 189); */
    text-align: center;
    border-radius: 3px;
}
.search-bar:hover{
    border: 1px solid black;
    border-radius: 50px;
    box-sizing: border-box;
}
.search-select{
    width: 60px;
    border: none;
    padding-left: 1rem;
    background-color: #E8E8E9;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    font-weight: 700;
}
.search-search{
    font-size: 15px;
    width: 100%;
    border: none;
    padding-left: .6rem;
    background-color: #E8E8E9;

}
.search-search:active{
    border: none;
}

.search-logo{
    color: #8E8E8F;
    width: 90px;
    border: none;
    font-size: 1.45rem;
    padding-top: .58rem;
    padding-right: .3rem;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #E8E8E9;
}
.search-logo:hover{
    color: black;
    background-color: #8E8E8F;
}
.for-space1{
 padding-left: 10px;
}
.heart{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    font-size: 1.5rem;
    background-color: #E8E8E9;
    border-radius: 15px;
    color: red;
}
.heart:hover{
    /* background-color: white; */
    color: rgb(0, 0, 0);
}
.cart{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    font-size: 1.5rem;
    background-color: #E8E8E9;
    border-radius: 15px;
    color: rgb(35, 153, 255);
}
.cart:hover{
    color: black;
}
.account-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    font-size: 1.5rem;
    background-color: #E8E8E9;
    border-radius: 50%;
}
.account-logo:hover{
    /* background-image: url("accountLogo.png"); */
    display: ruby;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

#line{
    height: 1px;
    width: 100%;
    background-color: rgb(203, 203, 203);
    /* display: inline-block; */
}

/** Navbar 2 **/


.navbar2{
    height: 50px;
    width: 100%;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    padding-bottom: 46px;
    justify-content: space-around;
}


.search-bar2{
    height: 43px;
    width: 540px;
    /* background-color: #8E8E8F; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-right: 200px; */
}

.search-bar2:hover{
    border: 1px solid black;
    border-radius: 50px;
    border: border-box;
    /* box-sizing: border-box; */

}

.search-search2{
    border: none;
    background-color: #E8E8E9;
    height: 40.6px;
    width: 100%;
    border-top-right-radius: 65px;
    border-bottom-right-radius: 65px;
    /* padding-left: 8px; */

}

.search-logo2{
    background-color: #E8E8E9;
    font-size: 22px;
    color: #8E8E8F;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    padding-left: 8px;
}
.search-logo2:hover{
    color: black;
    background-color: #8E8E8F;
}


.para{
    font-size: 20px;
    font-weight: 700;
    /* padding-left: 0px;
    padding-right: 220px; */
}
.para:hover{
    color: rgb(139, 74, 243);
}

.selectcountry{
    color: #878787;
    padding-left: 19px;
    margin: 0px;
    font-weight: 550;
}
.country{
    display: flex;
}

.mycountry{
    font-weight: 600;
    padding-left: 5px;
    font-size: 1.2rem;
    margin: 0px;
}
.location{
    padding-left: 200px;

}
.newlocation:hover{
    border: 1px solid black;
    padding: 4px;
    border-radius: 10px;
    box-sizing: border-box;
}

/** Content1 **/

.content1{
    display: flex;
    justify-content: space-evenly;
    /* padding: 20px; */
}
.photo1{
    height: 180px;
    width: 180px;
    border-radius: 16px;
}

.caption11{
    margin: 0%;
}

.caption12{
    margin: 0%;
    color: rgb(159, 160, 157);
}

/* Like || Save || Share --> SAME FOR ALL CONTENTS */


.paragraph{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
}
.para2{
    height: 60px;
    width: 180px;
    padding-left: 9px;
}

.element1{
    width: 180px;
    height: 180px;
    position: relative; 
}

.animate1{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-evenly;
    align-items:self-end;
    opacity: 0;
    transition: 0.6s;
    border-radius: 16px;

}
.animate1:hover{
    opacity: 1;
}
.logo{
    font-size: 21px;
    color: rgb(227, 222, 222);
    padding-bottom: 20px;
    text-decoration: none;
}
.logo:hover{
    color: rgb(0, 0, 0);
}



/** Content 2 **/

.content2{
    display: flex;
    justify-content: space-evenly;
    /* padding: 20px; */
}

.caption11{
    margin: 0%;
}

.caption12{
    margin: 0%;
    color: rgb(159, 160, 157);
}


/** Content 3 **/


.content3{
    display: flex;
    justify-content: space-evenly;
    /* padding: 20px; */
}

.caption11{
    margin: 0%;
}

.caption12{
    margin: 0%;
    color: rgb(159, 160, 157);
}


/** Content 4 **/


.content4{
    display: flex;
    justify-content: space-evenly;
    /* padding: 20px; */
    /* padding-bottom: 50px; */
}

.caption11{
    margin: 0%;
}

.caption12{
    margin: 0%;
    color: rgb(159, 160, 157);
}


/* Early Footers */
.next-page{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 40px;
}
.new-page{
    color: black;
    padding: 14px;
}
.new-page:hover{
    height: 12px;
    width: 12px;
    color: rgb(149, 2, 88);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E8E8E9;
    border-radius: 50%;
    text-decoration: none;
}
.number1{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E8E8E9;
    border-radius: 50%;
}

/* Footers */

.footer1{
    height: 100px;
    background-color: rgb(196, 200, 205);
    display: flex;
    justify-content: center;
}

/* First Line */

.logo{
    display: flex;
    justify-content: center;
    height: 25px;
    width: 25px;
    padding-top: 50px;
}
.logo1{
    color: black;
    margin-inline: 30px;
    /* height: 25px;
    width: 25px; */
    font-size: 26px;
}

.logo2:hover{
    color: #833AB4;
}
.logo3:hover{
    color: #1DA1F2;;
}
.logo4:hover{
    color: rgb(0, 0, 255);
}
.logo5:hover{
    color: #0a66c2;
}

/* Second Line */


.footer2{
    height: 100px;
    background-color: rgb(196, 200, 205);
    display: flex;
    justify-content: center;

}
.options{
    display: flex;
    justify-content: center;
    padding-top: 35px;
}

.option1{
    text-decoration: none;
    color: black;
    margin-inline: 35px;
}
.option1:hover{
    color: rgb(108, 29, 142);

}
/* Third Line */


.footer3{
    height: 100px;
    background-color: rgb(196, 200, 205);
    display: flex;
    justify-content: center;

}
.optionss{
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.option2{
    margin-inline: 35px;
    font-size: 3px;
}